html,
body,
#app {
    min-height: 100vh;
    font-family: "Segoe UI Variable", "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/trianglify-dark.svg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}

.header-backdrop {
    mask: linear-gradient(black 25%, transparent);
    -moz-backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 180px;
    z-index: 999;
    margin-top: -180px
}

iframe {
    border-radius: 5px;
}

*,
*:focus {
    outline: none;
}

.bg-trianglify-light {
    background-image: url('../images/trianglify-light.svg');
    background-attachment: fixed;
    background-position: auto auto;
    background-repeat: no-repeat;
}

.bg-acrylic {
    background-color: rgba(255, 255, 255, 0.5) !important;
    -moz-backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
}

.menu-item {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.25);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.menu-item:hover {
    color: black;
    background-color: white !important;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
    border: 0.5px solid white;
    transition: all 0.5s ease-in-out;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 479px;
}

@media (min-width: 640px) {
    .container {
        max-width: 639px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 767px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1023px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1365px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1919px;
    }
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 15px;
}

.me-1 {
    margin-right: 5px;
}

.text-align-center {
    text-align: center;
}

.my-1 {
    margin-top: 15px;
    margin-bottom: 15px;
}