// scss-docs-start import-stack
// Configuration
@import "../../node_modules/bootstrap/scss/functions";
// override default variables
$spacer: 24px;
$border-radius: 12px;
$border-radius-sm: 2px;
$border-radius-lg: 4px;
$border-radius-xl: 8px;
$border-radius-xxl: 12px;
$border-radius-pill: 50rem;
$primary: #0071a8;
$secondary: #424D58;
$success: #00A462;
$info: #008F92;
$warning: #FF9933;
$danger: #dc3545;
$light: lighten($primary, 90%);
$dark: darken($primary, 10%);
$enable-gradients: true;
$enable-negative-margins: true;
$enable-rounded: true;
// import default variables
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

// custom mixins
@mixin bg-acrylic($blur) {
	-moz-backdrop-filter: blur($blur) !important;
	-webkit-backdrop-filter: blur($blur) !important;
	backdrop-filter: blur($blur) !important;
}

// scss-docs-start custom-styles
iframe {
	@extend .bg-transparent;
}

html,
body {
	min-height: 100vh;
}

#app {
	min-height: calc(100vh - 56px);
}

nav {
	@extend .navbar-dark;
	@extend .bg-primary;
	@extend .shadow-lg;
	@extend .bg-opacity-25;
	@extend .bg-acrylic-4;
}

@for $i from 1 through 5 {
	.bg-acrylic-#{$i} {
		@include bg-acrylic($i * 10px);
	}
}

.card {
	@extend .bg-acrylic-4;
	@extend .bg-opacity-75;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, .5) !important;
}

@keyframes fadeOut {

	0% {
		background-color: rgba(0, 0, 0, 1);
	}

	99% {
		background-color: rgba(0, 0, 0, 0);
	}

	100% {
		display: none;
	}
}

.introduction-gradient {
	animation: fadeOut 4s ease-out forwards;
}

.virtualize-container > div:first-child[style="height: 0px; flex-shrink: 0;"] {
	display: none;
}

@media print {
	.break-page {
		page-break-after: always;
	}

	.card,
	.shadow,
	.shadow-lg,
	.shadow-sm {
		box-shadow: none !important;
	}

	.card,
	.card-body,
	.card-text {
		border: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
	}
}