@page "/"
<div class="container">
    <div class="p-5 pt-3 text-center bg-body-tertiary rounded-3 mt-5 shadow border border-light-subtle"
        style="--bs-bg-opacity: .66;--bs-border-opacity: .33;">
        <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <h1 class="text-body-emphasis"><img class="object-fit-fill" style="max-height:100px" src="images/logo-ideastudio-white.svg" alt="" /></h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Le site est actuellement en maintenance. Veuillez revenir plus tard.<br/>
            En attendant, vous pouvez consulter mes profils sur LinkedIn et Github.<br/>
            <span class="align-text-bottom">Cordialement, Andrés Talavera</span>
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
                href="https://linkedin.com/in/andres-talavera" target="_blank">
                <i class="fa-brands fa-linkedin me-2"></i>Profil LinkedIn
                
            </a>
            <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="https://github.com/andrestalavera"
                target="_blank">
                <i class="fa-brands fa-github me-2"></i>Github
            </a>
        </div>
    </div>
</div>
