@page "/"
<Jumbo ShowLogo="false">
    <i class="fa-regular fa-message-code fa-5x"></i>
    <h1 class="col-lg-8 mx-auto my-3 fs-5">
        Andrés Talavera
    </h1> 
    <p class="col-lg-8 mx-auto my-3 fs-5">
        Feel free to connect with me on LinkedIn, Github, or schedule an appointment.
    </p>
    <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center gap-2 mb-3 mt-3">
        <a class="d-inline-flex align-items-center btn btn-outline-primary btn-lg px-4 rounded-pill text-nowrap"
            href="https://linkedin.com/in/andres-talavera" target="_blank">
            <i class="fa-brands fa-linkedin me-2"></i>
            LinkedIn
        </a>
        <a class="d-inline-flex align-items-center btn btn-outline-primary btn-lg px-4 rounded-pill text-nowrap" href=""
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/andres-talavera/meeting'});return false;">
            <i class="fa-regular fa-calendar me-2"></i>
            Schedule time with me
        </a>
        <a class="d-inline-flex align-items-center btn btn-outline-secondary btn-lg px-4 rounded-pill text-nowrap"
            href="https://github.com/andrestalavera" target="_blank">
            <i class="fa-brands fa-github me-2"></i>
            Github
        </a>
    </div>
    <p class="col-lg-8 mx-auto my-3 fs-5 text-secondary">
        <small>IdeaStud.io website is under maintenance. Please check back later.</small>
    </p>
</Jumbo>