@page "/legal"

<div class="container mt-5">
	<div class="row mt-5">
		<div class="col mt-5 pt-5">
			<div class="card bg-light text-bg-light bg-opacity-75 bg-acrylic">
				<div class="card-body">
				<div class="display-4">Legal mentions</div>
					<p>Last updated: August 19th, 2025.</p>
					<p>Developer: Andrés Talavera</p>
					<p>Host: Microsoft Azure</p>
				</div>
			</div>
		</div>
	</div>
</div>
