@page "/privacy"

<div class="container mt-5">
	<div class="row mt-5">
		<div class="col mt-5 pt-5">
			<div class="card bg-light text-bg-light bg-opacity-75 bg-acrylic">
				<div class="card-body">
				<div class="display-4">Privacy Policy</div>
					<p>Last updated: 19 February, 2025.</p>
					<p>Your privacy is important to me. It is my policy to respect your privacy regarding any information we may
						collect from you across my website.</p>
					<div class="display-5">Information we collect</div>
					<p>We don't store any personal data on my side. IdeaStudio website uses Calendly for scheduling appointments. Please
						refer to <a href="https://calendly.com/legal/privacy-notice" target="_blank">Calendly's privacy policy</a> for more information on how they handle your data.</p>
					<div class="display-5">Third-party libraries</div>
					<p>IdeaStudio website uses Bootstrap for styling. Bootstrap is an open-source toolkit for developing with HTML, CSS,
						and JS. We do not collect or store any data through Bootstrap.</p>
					<p>The background video on our website is a modified version of a video obtained from <a href="https://pixabay.com/videos/news-technology-information-88425/" target="_blank">https://pixabay.com/videos/news-technology-information-88425/</a>. We have made modifications to this video for use on our site.</p>
					<div class="display-5">Changes to our privacy policy</div>
					<p>We may update our privacy policy from time to time. We encourage you to review this privacy policy frequently
						for any changes.</p>
					<div class="display-5">Contact us</div>
					<p>If you have any questions about the privacy policy, please contact us.</p>
				</div>
			</div>
		</div>
	</div>
</div>
