@inherits LayoutComponentBase
<header>
	<nav class="navbar fixed-top bg-acrylic" style="--bs-bg-opacity: .5; background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, transparent 100%);">
		<div class="container">
			<div class="navbar-brand">
				<a href="/">
					<img src="images/logo-ideastudio-white.svg" alt="IdeaStud.io" height="50">
				</a>
			</div>
		</div>
	</nav>
</header>
@Body
