@inherits LayoutComponentBase
<nav class="navbar navbar-expand-md sticky-top bg-body-tertiary bg-trianglify-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="images/logo-ideastudio-color.svg" alt="IdeaStud.io" height="30">
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="andres-talavera-resume">Andres Talavera's resumé</a>
            </li>
        </ul>
    </div>
</nav>
@Body