@using Markdig

<Card Title="@(AboutSection.Title)" Index="@Index">
    <Content>
        @if (AboutSection.Paragraphs is not null)
        {
            @foreach (string paragraph in AboutSection.Paragraphs)
            {
                <p class="text-primary">@((MarkupString)Markdown.ToHtml(paragraph))</p>
            }
        }
        @if (AboutSection.Icons is not null)
        {
            <div class="d-flex d-print-none justify-content-center gap-3 my-3">
                @foreach (string icon in AboutSection.Icons)
                {
                    <i class="@icon fa-4x" aria-hidden="true"></i>
                }
            </div>
        }
        @if (AboutSection.Images is not null)
        {
            <div class="d-flex d-print-none justify-content-center gap-3 my-3">
                @foreach (string image in AboutSection.Images)
                {
                    <img src="images/@image" alt="@image" class="p-1" width="70" height="70" loading="lazy">
                }
            </div>
        }
    </Content>
</Card>

@code {
    [Parameter] public required AboutSection AboutSection { get; set; }
    [Parameter] public required int Index { get; set; }
}
