@inherits AnimatedComponentBase

<div class="row">
    <div @ref="ElementRef" class="col-lg-8 mx-auto fade-in-up">
        <div class="card bg-white text-bg-light bg-opacity-75 contact-card">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col">
                        <p class="lead mb-4 opacity-90 text-primary text-center ">
                            @readyToDiscussText
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ContactForm />
                        <hr class="my-3 vm-75"/>
                        <div class="d-flex justify-content-center gap-3 flex-wrap text-center">
                            <SocialNetworks Size="lg" ShowText="true" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string readyToDiscussText = "Ready to discuss your next project? Let's build something amazing together.";

    protected override void LoadTexts()
    {
        readyToDiscussText = LocalizationService.GetString("ReadyToDiscuss");
    }
}
