@inherits AnimatedComponentBase
@inject ISlugService SlugService

<div class="ds-print-hidden">
    <h1 @ref="ElementRef" id="@id" class="ds-display-1 fade-in-up text-shadow-2" style="text-align: center; margin-bottom: 3rem;">@Title</h1>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    private string id => SlugService.GenerateSlug(Title);
}
