<p class="ds-card__body placeholder-glow">
    <span class="placeholder" style="width: 58%;"></span>
    <span class="placeholder" style="width: 33%;"></span>
    <span class="placeholder" style="width: 33%;"></span>
    <span class="placeholder" style="width: 50%;"></span>
    <span class="placeholder" style="width: 66%;"></span>
</p>
