<p class="ds-card__body ds-placeholder-glow">
    <span class="ds-placeholder" style="width: 58%;"></span>
    <span class="ds-placeholder" style="width: 33%;"></span>
    <span class="ds-placeholder" style="width: 33%;"></span>
    <span class="ds-placeholder" style="width: 50%;"></span>
    <span class="ds-placeholder" style="width: 66%;"></span>
</p>
