@using IdeaStudio.Website.Models
@using IdeaStudio.Website.Components
@inherits AnimatedComponentBase

<div @ref="@ElementRef" class="card bg-white text-bg-light text-primary bg-opacity-75 bg-acrylic border-0 fade-in-up">
	<div class="card-body">
		<p class="mb-0">@DateTime.Now.Year IdeaStud.io - Andrés Talavera. All rights reserved.</p>
		<small class="opacity-75">
			<a href="/privacy" class="text-decoration-none">Privacy Policy</a> |
			<a href="/legal" class="text-decoration-none">Legal Mentions</a>
		</small>
	</div>
</div>
