@using IdeaStudio.Website.Services
@inherits AnimatedComponentBase
@inject ISeoService SeoService

<div class="row d-print-none">
	<div class="col-12">
		<h1 @ref="ElementRef" id="@id" class="text-center mb-5 fade-in-up display-1 text-white text-shadow-2">@Title</h1>
	</div>
</div>
@code {
	[Parameter]
	public string? Title { get; set; }

	private string id => SeoService.GenerateId(Title);
}
